.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;

  &__img {
    width: 45vw;
    height: 45vh;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__input {
    margin-top: 20px;
    width: 350px;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
}
.form__labelSpecies {
  color: white;
}
.select__species {
  margin-top: 20px;
    width: 100px;
    height: 25px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}
.card__container {
  border: 2px solid rgb(47, 255, 71);
  text-align: center;
  color: white;
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 30px;
  padding: 10px;
  background-color:cadetblue;
  /*background-color:#07b0c7;*/
  
}
.character__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.card__img {
  height: 180px;
  
  
  
}
.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: black;  
    &__phrase {
      font-size: 15px;
      margin-bottom: 35px;
    }
    
}
.card__detail {
  display: flex;
  flex-direction: column;
   color: white;
}