.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;

  &__img {
    width: 45vw;
    height: 45vh;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__input {
    margin-top: 20px;
    width: 350px;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.select__species {
  margin-top: 20px;
  width: 100px;
  height: 25px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 5px;
  height: 25px;
}
.card__container {
  border: 2px solid rgb(47, 255, 71);
  border-radius: 9px;
  text-align: center;
  color: white;
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #07b0c7;
  text-decoration: none;
}
.card__link {
  text-decoration: none;
  color: black;
  font-size: 15px;
  line-height: 10px;
}
.character__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__img {
  height: 180px;
}
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  background-color: black;

  &__phrase {
    font-size: 15px;
    margin-bottom: 35px;
  }
}

.form__labelName {
  color: white;
}

.container__species {
  display: flex;
  align-items: center;
}
.form__labelSpecies {
  margin-right: 15px;
  color: white;
}
.container__name {
  display: flex;
  align-items: center;
}
.form__labelName {
  margin-right: 15px;
}
.link__back {
  color: rgb(5, 192, 192);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50%;
  width: 40px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}

.card__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  border: solid 3px rgb(47, 255, 71);
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #07b0c7;
  color: black;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 17px 0 rgb(47, 255, 71);
  border-radius: 9px;
}

.cardDetail__img {
  height: 220px;
}

.name__detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  color: black;
}

.container__data__detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
}

.background-image {
  background-image: url('../images/BackgroundDetail.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.error {
  color: white;
}

.error__input__name {
  color: white;
}
.error__msg {
  color: white;
}
